common --enable_bzlmod

build --cxxopt -std=c++20
build --copt -Wno-sign-compare
build --copt -Werror
build --copt -Wimplicit-fallthrough
build --copt -D_FILE_OFFSET_BITS=64

build:asan --strip=never
build:asan --copt -fsanitize=address
build:asan --copt -DADDRESS_SANITIZER
build:asan --copt -O1
build:asan --copt -g
build:asan --copt -fno-omit-frame-pointer
build:asan --linkopt -fsanitize=address
