[submodule "third_party/liberasurecode/src"]
	path = third_party/liberasurecode/src
	url = https://opendev.org/openstack/liberasurecode.git
[submodule "third_party/third_party/libfuse/src"]
	path = third_party/third_party/libfuse/src
	url = https://github.com/libfuse/libfuse
[submodule "third_party/libfuse/src"]
	path = third_party/libfuse/src
	url = https://github.com/libfuse/libfuse
[submodule "third_party/liburing/src"]
	path = third_party/liburing/src
	url = https://git.kernel.dk/liburing.git
[submodule "third_party/linux/src"]
	path = third_party/linux/src
	url = https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git
